<div>
  <%= live_patch("Dashboard", to: Routes.control_panel_path(@socket, :dashboard)) %>

  <%= live_patch "New Event", to: Routes.control_panel_path(@socket, :new_event) %>

  <main>
    <%= @inner_content %>
  </main>
</div>
</div>